@font-face {
  font-family: "Digi";
  src: url("fonts/ds-digib.ttf");
}

body {
  font-family: Arial;
  font-size: 80px;
  font-weight: bold;
  padding: 40px 0;
}

#clock {
  border: 2px solid lightgray;
  background: black;
  border-radius: 20px;
  box-sizing: border-box;
  height: 250px;
  margin: 0 auto;
  padding: 18px 0;
  width: 245px;
}

#sphere {
  border: 2px solid lightgray;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Digi";
  font-size: 80px;
  height: 210px;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
  text-align: center;
  width: 220px;
}

#splits-container {
  font-size: 20px;
  font-weight: 100;
  position: absolute;
  left: 50px;
}

#splits-container li {
  padding-bottom: 5px;
  text-align: right;
}

#milliseconds {
  font-size: 36px;
  margin-top: -15px;
  position: absolute;
  right: 20px;
  color: white;
}

.leash {
  background: #0F193E;
  box-shadow: 4px 0px 0px 0px lightgrey;
  height: 50px;
  margin: 0 auto;
  width: 120px;
}

.leash-top {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leash-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  height: 270px;
  padding-top: 50px;
}

.hole {
  background: #fff;
  border: 2px solid #1A284F;
  border-radius: 100%;
  height: 20px;
  margin: 0 auto 50px;
  width: 20px;
}

.number {
  display: inline-block;
  color: white;
  width: 82px;
}

.separator {
  color:white;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.btn {
  border: 0;
  border-radius: 100%;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: 0;
  position: absolute;
  width: 50px;
  padding: 1px 1px;
}

.btn.start,
.btn.stop {
  left: 10px;
  color: white;
}

.btn.reset,
.btn.split {
  right: 10px;
  color: black;
}

.btn.start { background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);}
.btn.stop  { background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);}
.btn.reset { background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);}
.btn.split { background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); }
